.detail {
    &-header {
        .title {
            font-size: 65px;
            font-weight: bold;
            .age {
                color: $secondary-light;
            }
        }
        .desc {
            font-size: 20px;
        }
    }
    &-body {
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
        .specs {
            width: 60%;
            .costs {
                display: flex;
                align-items: center;
                font-size: 50px;
                font-weight: 600;

                .resource {
                    display: flex;
                    align-items: center;
                    margin-right: 45px;
                    span {
                        display: block;
                        width: 80px;
                        height: 80px;
                        margin-right: 15px;
                        background-size: contain !important;
                        background-position: center !important;
                        background-repeat: no-repeat !important;
                    }
                    span.wood {
                        background: url(../../assets/images/wood-icon.svg);
                    }
                    span.food {
                        background: url(../../assets/images/food-icon.svg);
                    }
                    span.gold {
                        background: url(../../assets/images/gold-icon.svg);
                    }
                }
            }
            &-item {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                img {
                    width: 45px;
                    margin-right: 10px;
                }
                p {
                    font-size: 35px;
                }
            }
            .desc{
                margin: 40px 0;
                font-size: 25px;
                font-weight: 600;
            }
        }
        img {
            align-self: flex-end;
            width: 40%;
            max-width: 300px;
            object-fit: contain;
        }
    }
}

@media(max-width: 567px){
    .detail-body > img{
        display: none;
    }
}