//colors
$main-dark: #010501;
$main-light: rgba(255, 255, 255, 0.9);
$secondary-light: rgba(255, 255, 255, 0.6);
$color-primary: #44ad4e;
$color-secondary: #a7ceaa;
$color-gold: #e1be42;
$color-food: #c12639;
$color-wood: #9b4c2f;

//fonts
$main-font: "Rajdhani", sans-serif;

//others
$max-width: 1140px;
